<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scraping Page</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/5338/5338335.png" type="image/icon type">
    <!-- Ajoutez un lien vers votre fichier CSS ici -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="accueil">
    <div class="container">
        <h1 class="accueil">Scraping Page</h1>
        <form method="post" action="/scrape">
            <input type="text" id="url" name="url" placeholder="Entrez l'URL à scraper" required>
            <button type="submit">Scrape</button>
        </form>
    </div>
</body>
</html>
