<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scraping Error</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/5338/5338335.png" type="image/icon type">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Erreur dans le scraping</h1>

        <!-- Bouton de retour à la page d'accueil -->
        <a href="/" class="return-link-button">Accueil</a>

        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>